<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Buraya footer içeriği gelebilir -->
                <p>Footer Alanı</p>
            </div>
        </div>
    </div>
</footer>