@{
    // Layout = null;
    // Layout="asfasgasgasfsafsafasfsa"
}
@{
    // Product //_ViewImports.cshtml dosyasında oluşturduğumuz kodlar sayesinde direk erişim sağlayabiliyoruz her view'den
}
@section solmenuhocam
{
    <h4>Reklam</h4>
}
Burası Index Hocam