@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model OrnekProje.Models.Product

@* <form asp-action="CreateProduct" asp-controller="Product" method="post">
    <input type="text" name="txtValue1" />
    <br />
    <input type="text" name="txtValue2" />
    <br />
    <input type="text" name="txtValue3" />
    <br />
    <button>Gönder</button>
</form> *@

<form asp-action="CreateProduct" asp-controller="Product" method="post">
    <input asp-for=ProductName type="text" />
    <br />
    <input asp-for=Quantity type="text" />
    <br />
    <button>Gönder</button>
</form>